
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.py[cod]
.venv/
.env
uv.lock


node_modules/
dist/
.next/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local


.vscode/
.idea/

# --- Docker ---
postgres_data/