
services:
  db:
    image: postgres:15
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: fastapidb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: